<!DOCTYPE html>
<html lang="en">
<head>
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/auth/aws-cognito-sdk.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/auth/amazon-cognito-identity.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/auth/jwt-decode.min.js"></script>
<!--	<script type="text/javascript" src="assets/js/plugins/auth/deleteable-core.js"></script>-->
	<!-- /core JS files -->



<!--	<script type="text/javascript" src="assets/js/core/limitless-app.js"></script>-->
	<script type="text/javascript" src="assets/js/pages/login.js"></script>
	<!-- /theme JS files -->

	<script type="text/javascript">

        $(document).ready(function() {
           // loadScript("assets/js/core/limitless-app.js");

		});


        function loginButton(){

            loginSubmit($('#username').val(), $('#password').val());

        }

        function loadSC() {
            loadScript("assets/js/core/limitless-app.js");
		}


	</script>


</head>

<body>

<script type="text/javascript" src="assets/js/pages/login.js"></script>

<div class="login-container" ng-controller="login">

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<!-- Advanced login -->
					<!--				<form action="">-->
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
							<h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							<input type="text" class="form-control" placeholder="Username" id="username" ng-model="username">
							<div class="form-control-feedback">
								<i class="icon-user text-muted"></i>
							</div>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							<input type="password" class="form-control" placeholder="Password" id="password" ng-model="password">
							<div class="form-control-feedback">
								<i class="icon-lock2 text-muted"></i>
							</div>
						</div>

						<div class="form-group login-options">
							<div class="row">
								<div class="col-sm-6">
									<label class="checkbox-inline">
										<input type="checkbox" class="styled" checked="checked" ng-model="rememberCheckBox">
										Remember
									</label>
								</div>

								<div class="col-sm-6 text-right">
									<a href="login_password_recover.html">Forgot password?</a>
								</div>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn bg-blue btn-block" ng-click="onLoginClicked()">Login <i class="icon-arrow-right14 position-right"></i></button>
						</div>

						<!--							<div class="content-divider text-muted form-group"><span>or sign in with</span></div>
                                                    <ul class="list-inline form-group list-inline-condensed text-center">
                                                        <li><a href="#" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-facebook"></i></a></li>
                                                        <li><a href="#" class="btn border-pink-300 text-pink-300 btn-flat btn-icon btn-rounded"><i class="icon-dribbble3"></i></a></li>
                                                        <li><a href="#" class="btn border-slate-600 text-slate-600 btn-flat btn-icon btn-rounded"><i class="icon-github"></i></a></li>
                                                        <li><a href="#" class="btn border-info text-info btn-flat btn-icon btn-rounded"><i class="icon-twitter"></i></a></li>
                                                    </ul>-->

						<div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>
						<a href="login_registration.html" class="btn btn-default btn-block content-group" >Sign up</a>
						<span class="help-block text-center no-margin">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
					</div>
					<!--				</form>-->
					<!-- /advanced login -->


					<!-- Footer -->
					<div class="footer text-muted text-center">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
</div>
</body>
</html>
